    <div class="row">
      <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
        <div class="brand">
          <a class="" href="#">Kinnect logo</a>
        </div>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
             <a href="#" class="nav-link active" routerLink="/home-client" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            
            <a href="#" class="nav-link" routerLink="/pep/generate-report" routerLinkActive="active">Pre-Employment</a>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link" routerLink="/home-client" routerLinkActive="active">Health Surveillance</a>
          </li>
          <li class="nav-item">
             <a href="#" class="nav-link" routerLink="/home-client" routerLinkActive="active">Injury Management</a>
          </li>
          <li class="nav-item">
             <a href="#" class="nav-link" routerLink="/home-client" routerLinkActive="active">Referral</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" routerLink="/home-client" routerLinkActive="active">Report</a>
          </li>
           <li class="nav-item">
            <a href="#" class="nav-link" routerLink="/im/generate-report" routerLinkActive="active">Im Generate Report</a>
          </li>
           <li class="nav-item">
            <a href="#" class="nav-link" routerLink="/hs/generate-report" routerLinkActive="active">Hs Generate Report</a>
          </li>
        </ul>

        <ul class="nav nav-pills flex-column nav-bottom">
          <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
          </li>
        </ul>
      </nav>


